<div data-test-key_down>{{this.keyDown}}</div>
<div data-test-key_down_with_mods>{{this.keyDownWithMods}}</div>
<div data-test-key_press>{{this.keyPress}}</div>
<div data-test-key_up>{{this.keyUp}}</div>
