body, input {
  background-color: #FFFCC4;
  color: #00585F;
  font-size: 1vw;
  line-height: 2vw;
}

input {
  padding: 0 0.5vw;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 60vw;
}

.keyboard-widget {
  border: thin solid #00585F;
  margin: 2vw 0;
  padding: 1vw;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.keyboard-widget:hover {
  color: #FFFCC4;
  background-color: #00585F;
}

.keyboard-widget.active {
  color: #FFFCC4;
  background-color: #00585F;
}

.counter-container {
  color: #00585F;
  background-color: #F0EDBB;
  border: thin solid #00585F;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 33%;
}

.counter-container .input-field {
  background-color: #FFFCC4;
  border: thin solid #00585F;
  border-top: 0;
  color: #00585F;
  width: 20%;
  text-align: center;
}
