.container {
  position: relative;
  width: 60vw;
  margin: 0 auto;
}

.input {
  position: absolute;
  top: 5vh;
  right: 5vw;

  display: inline-block;
  width: 20vw;
}

.textarea {
  clear: both;
  margin-top: 4%;
  width: 100%;
  height: 20vh;
  resize: none;
}

.modal {
  position: absolute;
  top: 18vh;
  left: 18vw;
  right: 18vw;
  height: 38vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  border: thin solid black;
  text-align: center;
}

.counter-aside {
  float: left;
}

.mixin-test-buttons {
  float: right;
}

.mixin-component {
  margin-top: 1%;
  border: thin solid black;
  padding: 1%;
}

aside {
  margin-top: 5vh;
  padding: 1%;
  border: thin solid black;
}
