html {
  font-size: 120%;
}

body, input {
  background-color: #FFF;
  color: #00585F;
  font-family: 'Open Sans', sans-serif;
}

html, body, body > .ember-view {
  height: 100%;
  padding: 0;
  margin: 0;
}

input {
  padding: 0 10px;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

pre {
  background-color: #eee;
  padding: 1em 1.4em;
  overflow-x: auto;
}

.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  border: 0 dashed #00585F;
  border-right-width: thick;
  padding: 30px 30px 0 50px;
  text-align: right;
  font-size: 120%;
  line-height: 150%;
}

.menu a {
  color: #00585F;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.main {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 30px;
  max-width: 38em;
}

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.octocat {
  height: 40px;
  width: 40px;
}

.github {
  text-align: right;
}

.keyboard-widget {
  border: thin solid #00585F;
  margin: 40px 0;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.keyboard-widget:hover {
  color: #FFFCC4;
  background-color: #00585F;
}

.keyboard-widget.active {
  color: #FFFCC4;
  background-color: #00585F;
}

.counter-container {
  color: #00585F;
  background-color: #F0EDBB;
  border: thin solid #00585F;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 32.5%;
  font-size: 90%;
}

.counter-container .input-field {
  background-color: #FFFCC4;
  border: thin solid #00585F;
  border-top: 0;
  color: #00585F;
  text-align: center;
  width: 20%;
}

@media (max-width: 690px) {
  .container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .menu {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: space-around;
    align-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 10px;
    border-right-width: 0;
    border-bottom-width: thick;
    background: #fff;
    font-size: 1rem;
  }

  .menu a {
    text-align: center;
    padding: 0 0.5em;
  }
}
