<div class="container">
  {{ember-expanding-sidebar sections=sections}}
  <a href="https://github.com/null-null-null/ember-keyboard" target="_blank" class="github">
    <img src="/octocat.png" class="octocat">
  </a>
  <h1>
    <code>ember-keyboard</code>
  </h1>
  {{outlet}}
</div>
