<div class="container">
  <nav class="menu">
    <LinkTo @route='index'>Overview</LinkTo>
    <LinkTo @route='usage'>Usage</LinkTo>
    <LinkTo @route='priority'>Priority</LinkTo>
    <LinkTo @route='mixins'>Mixins</LinkTo>
    <LinkTo @route='testing'>Testing</LinkTo>
  </nav>
  <div class="main">
    <div class="header">
      <h1>
        <code>ember-keyboard</code>
      </h1>
      <a href="https://github.com/patience-tema-baron/ember-keyboard" target="_blank" class="github" rel="noopener noreferrer">
        <img src="./octocat.png" alt="Octocat" class="octocat">
      </a>
    </div>
    {{outlet}}
  </div>
</div>
