<div class="container">
  <nav class="menu">
    <LinkTo @route='index'>Overview</LinkTo>
    <LinkTo @route='usage'>Usage</LinkTo>
    <LinkTo @route='event-propagation'>Event propagation</LinkTo>
    <LinkTo @route='priority'>Priority (&lt;= 6.x)</LinkTo>
    <LinkTo @route='deprecations'>Deprecations</LinkTo>
    <LinkTo @route='testing'>Testing</LinkTo>
    <LinkTo @route='upgrading'>Upgrading</LinkTo>
  </nav>
  <div class="main">
    <div class="header">
      <img src="./ember-keyboard.svg" alt="" role="presentation" class="logo">
      <h1 class="header-text">
        <code>ember-keyboard</code>
      </h1>
      <a href="https://github.com/adopted-ember-addons/ember-keyboard" target="_blank" class="github" rel="noopener noreferrer">
        <img src="./octocat.png" alt="Octocat" class="octocat">
      </a>
    </div>
    {{outlet}}
  </div>
</div>
